@charset "UTF-8";

button, input, select, textarea{
    margin:0;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 120%;
    cursor: pointer;
    vertical-align: bottom;
    transition: 0.1s ease-in-out;
    box-shadow: inset 0 2px rgba(255, 255, 255, 0.25), 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 2px rgba(255, 255, 255, 0.25), 0 1px 0 rgba(0, 0, 0, 0.25);
}

body {
    margin: 0 260px;
}

header {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
    display: flex;
}

header .logo {
    height: 100%;
    width: 30%;
}

.logo img {
    height: 100%;
    width: auto;
}

header .nav {
    height: 100%;
    width: 100%;
}

header .nav ul {
    float: right;
    height: 100%;
    margin: 0;
}

header .nav li {
    height: 100%;
    margin-right: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    box-align: center;
}

header .nav li a {
    display: block;
}

main {
    background-color: blanchedalmond;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    vertical-align: middle;
    border: 1px #808080 solid;
}

tbody {
    display: table-row-group;
}

td {
    height: 35px;
    font-size: 14px;
}

td.icon {
    width: 6%;
}

td.icon img {
    display: block;
    margin: 5px;
    height: 100%;
    max-width: 100%;
}

td.name {
    width: 40%;
}

td.info button {
    font-size: 12px;
    height: 100%;
    width: 80%;
    background-color: #22AC39;
}

td.info button.alert {
    background-color: red;
}

td.info button.warning {
    background-color: goldenrod;
}
