@charset "UTF-8";

button, input, select, textarea{
    margin:0;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 120%;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    box-shadow: inset 0 2px rgba(255, 255, 255, 0.25), 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 2px rgba(255, 255, 255, 0.25), 0 1px 0 rgba(0, 0, 0, 0.25);
}

button.edit {
    font-size: 12px;
    height: 100%;
    width: 80%;
}

ul {
    list-style:none;
}

body {
    margin: 0 260px;
}

header {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
    display: flex;
}

header .logo {
    height: 100%;
    width: 30%;
}

.logo img {
    height: 100%;
    width: auto;
}

header .nav {
    height: 100%;
    width: 100%;
}

header .nav ul {
    float: right;
    height: 100%;
    font-size: 0;
    margin: 0 10px 0 0;
}

header .nav li {
    height: 100%;
    display: inline-block;
    font-size: 17px;
}

header .nav li:hover {
    background-color: #f5f5f5;
}

header .nav li a {
    display: block;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

/* @pagination */
.pagination {
    margin-top: 40px;
}

.pagination ul {
    display: flex;
    justify-content: center;
}

.pagination ul li {
    margin: 5px;
}

.pagination a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #22AC39;
    border-color: #22AC39;
    color: #fff;
}

.pagination .active a {
    background-color: #ddd;
    color: #333;
    pointer-events: none;
}

.pagination a.disabled {
    color: #ddd;
    pointer-events: none;
}
/* pagination end */

main {
    background-color: blanchedalmond;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    vertical-align: middle;
    border: 1px #808080 solid;
}

tbody {
    display: table-row-group;
}

td {
    height: 35px;
}

td.icon {
    width: 6%;
}

div#search-box {
    margin-bottom: 10px;
    height: 32px;
    float: right;
    /*background: black*/
}

div#search-box form {
    height: 100%;
}

div#search-box input {
    height: 100%;
    width: 230px;
    font-size: 15px;
    margin-right: 10px;
    padding: 0;
}

div#search-box button {
    background: url(../img/search.jpeg)  center center no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
    height: 100%;
    width: 32px;
    padding: 0;
}

td.icon img {
    display: block;
    margin: 5px;
    height: 100%;
    max-width: 100%;
}

td.name {
    width: 40%;
}

td.info button {
    background-color: #22AC39;
}

td.info button.alert {
    background-color: #ff0000;
}

td.info button.warning {
    background-color: goldenrod;
}

.sidebar {
    height: 100%;
    width: 18%;
    padding-top: 20px;
    padding-left: 20px;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar a {
    display: block;
    width: 100%;
}

.content {
    margin-left: 36px;
}

/* servant edit */
main#servant_edit {
    display: flex;
}

.workplace-title {
    background-color: #cccccc;
}

.workplace-title h1 {
    display: inline-block;
    width: 80%;
    margin-left: 20px;
}

.workplace-title button {
    display: inline-block;
    float: right;
}

.workplace-content {
    width: 100%;
    padding-top: 20px;
}

.tab {
    overflow: hidden;
    border: none;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
    border-bottom: none;
}

.block {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-top: none;
}

.block.active {
    display: block;
}

/* servant edit end */

/* system */
.console {
  background: #000;
  border: 3px groove #ccc;
  color: #ccc;
  font-size: medium;
  display: block;
  padding: 5px;
  width: 100%;
  height: 400px;
  word-wrap: break-word;
  overflow-y: auto;
}

.console p {
  margin:0 auto;
}
/* system end */