{% extends 'admin/layout.html' %}

{% block title %}英灵{% endblock %}

{% block page_id %}servant{% endblock %}

{% block body %}
<div id="search-box">
    <form method="post" action="">
        <input name="s" type="text" /><button type="submit">search</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th></th>
            <th>th1</th>
            <th>th2</th>
            <th>th3</th>
            <th>th4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="icon"><a href="#"><img src="img/Sample.png" /></a></td>
            <td class="name">ここはサンプルテキストです</td>
            <td class="info"><button class="edit" type="button">100/100</button></td>
            <td class="info"><button class="edit alert" type="button">0/100</button></td>
            <td class="info"><button class="edit warning" type="button">50/100</button></td>
        </tr>
        <tr>
            <td class="icon"><a href="#"><img src="img/Sample.png" /></a></td>
            <td class="name">ここはサンプルテキストです</td>
            <td class="info"><button class="edit warning" type="button">50/100</button></td>
            <td class="info"><button class="edit" type="button">100/100</button></td>
            <td class="info"><button class="edit alert" type="button">0/100</button></td>
        </tr>
        <tr>
            <td class="icon"><a href="#"><img src="img/Sample.png" /></a></td>
            <td class="name">ここはサンプルテキストです</td>
            <td class="info"><button class="edit alert" type="button">0/100</button></td>
            <td class="info"><button class="edit warning" type="button">50/100</button></td>
            <td class="info"><button class="edit" type="button">100/100</button></td>
        </tr>
    </tbody>
</table>
{% endblock %}
