{% extends 'admin/layout.html' %}

{% block title %}英灵{% endblock %}

{% block page_id %}servant{% endblock %}

{% block body %}
<div id="search-box">
    <form method="get" action="{{ url_for('admin.servant_list') }}">
        <input name="s" value="{{ request.args.get('s', '') }}" type="text" title="检索" />
        <button type="submit">search</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th></th>
            <th>姓名</th>
            <th>灵基再临</th>
            <th>技能</th>
        </tr>
    </thead>
    <tbody>
        {% for servant in servants %}
            {% set stage_completed = servant.stage_completed %}
            {% set skill_completed = servant.skill_completed %}
            <tr>
                <td class="icon"><a href="{{ url_for('admin.servant_edit', servant_id=servant.id) }}"><img src="{{ servant.icon }}" /></a></td>
                <td class="name"><a href="{{ url_for('admin.servant_edit', servant_id=servant.id) }}">{{ servant.name }}</a></td>
                <td class="info">
                    <button class="edit{% if stage_completed == 0 %} alert{% elif stage_completed < 4 %} warning{% endif %}" type="button">
                        {{ stage_completed }}/4
                    </button>
                </td>
                <td class="info">
                    <button class="edit{% if skill_completed == 0 %} alert{% elif skill_completed < 3 %} warning{% endif %}" type="button">
                        {{ skill_completed }}/3
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ render_pagination(pagination, 'admin.servant_list') }}
{% endblock %}
