<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>site_name | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}" />
    {% block style %}{% endblock %}

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    {% block javascript %}{% endblock %}
</head>
<body>
    {% from 'macros.html' import form_csrf, validation_errors %}

    <noscript>
        <p>请将Javascript设置为有效！</p>
    </noscript>

    <header>
        <div class="logo"><a href="{{ url_for('admin.index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="LOGO" /></a></div>
        <div class="nav">
            <ul>
                <li><a href="{{ url_for('admin.servant_list') }}">英灵</a></li>
                <li><a href="{{ url_for('admin.craft_essence_list') }}">概念礼装</a></li>
                <li><a href="{{ url_for('admin.item_list') }}">材料</a></li>
                {#<li><a href="{{ url_for('admin.map') }}">地图</a></li>#}
                {#<li><a href="{{ url_for('admin.event') }}">活动相关</a></li>#}
                <li><a href="{{ url_for('admin.system') }}">系统设置</a></li>
            </ul>
        </div>
    </header>

    <main id="{% block page_id %}main{% endblock %}">
    {% block body %}{% endblock %}
    </main>

    <footer id="footer">
        <ul>
            <li><a href="http://fgowiki.com/">Fate/Grand Order中文Wiki主题攻略站</a></li>
            <li><a href="http://bbs.ngacn.cc/thread.php?fid=540&rand=272">NGA玩家社区</a></li>
        </ul>
    </footer>
</body>
</html>
